.presetContainer {
  border-radius: 7px;
  padding: 10px;
  max-width: 450px;
  min-width: 300px;
  flex: 1;
  margin: 20px 20px 20px 0;
  background-color: var(--secondaryBG);
  height: 70px;
  box-shadow: 8px 5px 24px 10px rgba(0, 0, 0, 0.233);
  display: flex;
}

.presetContainerLeft {
  justify-content: space-around;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.presetContainerRight {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  align-items: flex-end;
}

.presetContainer:hover .presetContainerRight > div > svg {
  opacity: 1;
}

.presetContainerRight > div > svg {
  width: 14px;
  height: 14px;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  transition: 0.15s ease;
  margin-right: -5px;
  opacity: 0;
}

.presetContainerRight > div > svg:hover {
  background-color: var(--primaryBG);
}

.presetContainerRight > div > svg circle {
  fill: var(--secondaryTextColor);
}

.presetContainerRight div {
  display: flex;
}

.presetContainer div p {
  margin: 0px;
}

.presetContainer .label {
  color: var(--secondaryTextColor);
  font-weight: 400;
}

.bottomBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.bottomBar div {
  margin: 0;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--mainTextColor);
  cursor: pointer;
  padding: 0 3px;
}

.link svg {
  fill: var(--secondaryTextColor) !important;
  width: 22px;
  height: 22px;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.newContainer {
  border: 0;
  padding: 0;
  height: 221px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 350px;
}

.newContainer .newContainerItem {
  padding: 10px;
  height: 80px;
  border: 1px solid var(--lightTextColor);
  border-radius: 7px;
  margin: 0;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.newContainerItem h3 {
  margin: 0;
}

.newContainerItem p {
  color: var(--secondaryTextColor);
}

.newContainer svg {
  width: 26px;
  height: 26px;
}

.newPresetForm {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.newPresetForm div {
  margin: 0;
}

.newPresetsInput {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0;
  height: 100%;
}

.newPresetsInput div input,
.presetContainer input {
  font-size: 18px;
  margin-left: 10px;
  background-color: var(--primaryBG);
  border: 1px solid var(--secondaryBG);
  border-radius: 5px;
  color: var(--mainTextColor);
  padding: 4px 6px;
  width: 100%;
  font-size: 18px;
  outline: none;
  margin: 4px;
  transition: 0.15s ease;
}

.presetContainer input {
  height: 23px;
  margin: 0;
  padding: 2px 4px;
}

.newPresetsInput div {
  display: flex;
  align-items: center;
}

.newPresetsInput div p {
  font-size: 18px;
  color: var(--secondaryTextColor);
}

.newPresetsInput div input:hover {
  /* border: 1px solid var(--secondaryTextColor); */
  border-color: var(--secondaryTextColor);
}

.newPresetsInput button,
.bottomBar button {
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  background-color: var(--secondaryBGLight);
  border: 1px solid var(--secondaryBG);
  cursor: pointer;
  color: var(--mainTextColor);
  margin-left: 4px;
  margin-top: 5px;
  transition: 0.15s ease;
}

.newPresetsInput button:hover,
.bottomBar button:hover {
  background-color: var(--primaryBG);
}

.presetHeaderContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 0 !important;
  align-items: center;
}

.presetHeaderContainer div {
  margin: 0;
}

p.presetHeader {
  font-size: 25px !important;
}

.presetHeaderContainer svg {
  margin: 0 5px;
  fill: var(--secondaryTextColor);
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.Sidebar {
  width: 65px;
  height: 100vh;
  background-color: transparent;
  border-right: 1px solid var(--lightTextColor);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SidebarTop {
  height: 40px;
}

.Sidebar button {
  outline: none;
  width: 56px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  height: 45px;
  display: flex;
  align-items: center;
  position: relative;
}

.Sidebar button span {
  position: absolute;
  color: white;
  margin-left: 85px;
  z-index: 4000;
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 17px;
  background-color: black;
  box-shadow: 0px 0px 30px 7px rgb(0, 0, 0);
  transition: 0.2s ease;
  opacity: 0;
  pointer-events: none;
}

.Sidebar button:hover div {
  background-color: var(--secondaryBG);
}
.Sidebar button:hover span {
  margin-left: 55px;
  opacity: 1;
}

.Sidebar button div {
  width: 40px;
  height: 40px;
  transition: 0.2s ease;
  border-radius: 5px;
}

.SidebarButtonInner {
  display: grid;
  width: 100%;
  height: 100%;
  place-items: center;
}

.SidebarButtonInner svg {
  width: 70%;
  height: 70%;
  fill: var(--secondaryTextColor) !important;
}

.hostsSection,
.lastConnectionsSection {
  padding: 20px 0;
}

.hostsSection > span,
.lastConnectionsSection > span {
  font-size: 20px;
  font-weight: 600;
}

.hostsContainer {
  overflow-y: auto;
  padding-left: 20px;
}

.hostsContainer::-webkit-scrollbar {
  width: 5px;
  transform: translateY(-4px);
}

.hostsContainer::-webkit-scrollbar-track {
  background: transparent;
}

.hostsContainer::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: var(--lightTextColor);
}

.dropDownMenu {
  position: absolute;
  margin-top: 29px !important;
  display: flex;
  flex-direction: column;
  margin-right: -100px;
  padding: 5px;
  width: 70px;
  background-color: var(--primaryBG);
  box-shadow: 8px 5px 24px 10px rgba(0, 0, 0, 0.233);
  border: 1px solid var(--secondaryBGLight);
  border-radius: 5px;
}

.dropDownMenu button {
  text-align: start;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  color: var(--secondaryTextColor);
  padding: 3px 6px;
  font-size: 15px;
  transition: 0.15s ease;
}

.dropDownMenu button:first-child {
  border-bottom: 1px solid var(--secondaryBGLight);
}

.dropDownMenu button:hover {
  background-color: var(--secondaryBGLight);
}

.saveButton {
  color: var(--secondaryTextColor);
  border: 0;
  background-color: var(--primaryBG);
  padding: 2px 8px;
  font-size: 18px;
  border-radius: 3px;
  margin-bottom: 3px;
  margin-left: 6px;
  cursor: pointer;
  transition: 0.1s ease;
}

.saveButton:hover {
  color: var(--mainTextColor);
}

.lastConnectionWrapper {
  height: 50px;
  background-color: var(--secondaryBG);
  box-shadow: 8px 5px 24px 10px rgba(0, 0, 0, 0.233);
  border-radius: 7px;
  padding: 10px;
  max-width: 450px;
  min-width: 300px;
  flex: 1;
  margin: 20px 20px 20px 0;
  background-color: var(--secondaryBG);
  display: flex;
}

.lastConnnectionLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.lastConnnectionLeft span:first-child {
  font-size: 20px;
}

.lastConnnectionLeft span:last-child {
  color: var(--secondaryTextColor);
  font-size: 16px;
}

.lastConnectionWrapper > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.lastConnectionWrapper > div:last-child > div {
  display: flex;
}
